<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<blockquote>&nbsp;</blockquote>
<blockquote>
  <table width="800" border="0" align="center">
    <tr>
      <th width="794" height="280" scope="row"><div align="center">
        <form id="flogin" name="flogin" method="post" action="">
          <table width="456" border="0" bordercolor="#666666">
            <tr bordercolor="#000000" bgcolor="#FFCC00">
              <th height="29" colspan="2" scope="col">Ingreso al sistema: <strong>Marciano Tour S.R.L. </strong></th>
            </tr>
            <tr>
              <th width="150" scope="row">
              <div align="center">
                <img src="./imagenes/login.jpg" alt="login" name="login" width="150" height="112" align="absbottom" id="login" /> 
              	 <div align="center"></div>
                </p></th>
              <td width="290" height="29" align="center" valign="baseline" bordercolor="#CCCCCC" bgcolor="#FFFFFF" scope="row"> 
                  <label></label>                
                  Usuario 
                  <label>
                  <br />
                  <input name="usuario" type="text" id="usuario" value="{v_usuario}" maxlength="10" />
                  <br />
                  </label>                  Contrase&ntilde;a
                  <label>                   <br />
                  <input name="contrasenia" type="password" id="contrasenia" value="{v_contrasenia}" maxlength="10" />                   
                  </label>
                  <br>                  <h6><label></label>                  <label></label></h6></td>
            </tr>
            <tr bordercolor="#FFFFFF" bgcolor="#FFCC00">
              <td height="12" colspan="2" align="center" valign="middle" bgcolor="#FFFFFF" scope="row"><h6>
                <input name="ok" type="submit" id="ok" value="Aceptar" />
                <input name="cancelar" type="submit" id="cancelar" value="Cancelar" />
              </h6></td>
            </tr>
          </table>
          <p>
            <label>            <div align="center">
            </label>
          </form>
        </div></th>
    </tr>
  </table>
  <blockquote>&nbsp;</blockquote>
</blockquote>
</body>
</html>
