<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{titulo_proyecto}</title>
	<style type="text/css">
	<!--
	.style2 {font-size: 24px}
	-->
	</style>
	<!-- ---- seccion de menu principal ------ -->
	<link rel="stylesheet" type="text/css" href="css/estilos.css" />    
	<script src="js/menu/modernizr.custom.63321.js"></script> 
	<script src="js/propias.js"></script> 
    
    </head>
    <body background="{v_imagen_fondo}">
    
<!-- --------------------------------------------------------------------------------------------------------------------------------
sexion nro 1
-------------------------------------------------------------------------------------------------------------------------------- -->
<div  id="mi-slider" class="mi-slider">
    <ul>
        <li><a href="encomiendas.php"        > <img src="imagenes/1.jpg" alt="img01" click=$this.href><h4>Encomienda</h4></a></li>
        <li><a href="ctacte_clientes.php"             > <img src="imagenes/cta_cte.jpg" alt="img01" click=$this.href><h4>Cta. Cte.</h4></a></li>
        <li><a href="cierre_encomienda.php"  > <img src="imagenes/2.jpg" alt="img02" click=$this.href><h4>Cerrar Encomiendas</h4></a></li>
        <li><a href="facturar_encomienda.php"> <img src="imagenes/3.jpg" alt="img03" click="p3 = abrir_ventana('Facturar Encomienda','facturar_encomiendas.php',800,900);"><h4>Facturar Encomiendas</h4></a></li>
    </ul>
    <ul>
        <li><a href="admin_pasajes.php"><img src="imagenes/5.jpg" alt="img05"><h4>Pasajes</h4></a></li>
        <li><a href="resumen_pasajes.php"><img src="imagenes/6.jpg" alt="img06"><h4>Cerrar Pasajes</h4></a></li>
        <li><a href="#"><img src="imagenes/3.jpg" alt="img07"><h4>Facturar Pasajes</h4></a></li>
    </ul>
    <ul>
        <li><a href="#"><img src="imagenes/9.jpg" alt="img09"><h4>Informes</h4></a></li>
        <li><a href="#"><img src="imagenes/10.jpg" alt="img10"><h4>Cierre Total</h4></a></li>
        <li><a href="sub_menu_abm.php"><img src="imagenes/11.jpg" alt="img11"><h4>ABM</h4></a></li>
        <li><a href="javascript:abrir_ventana('ABM de cheques','./abm/abm_cheques.php',400,600);"><img src="imagenes/cheques.jpg" alt="img13" click="$this.href"><h4>Cheques</h4></a></li>        
    </ul>
    <ul>
        <li><a href="configuracion.php"><img src="imagenes/12.jpg" alt="img12"><h4>Configuracion</h4></a></li>
        <li><a href="#"><img src="imagenes/14.jpg" alt="img14"><h4>Notas</h4></a></li>
        <li><a href="logout.php"><img src="imagenes/15.jpg" alt="img15" onclick="logout.php"><h4>Salir</h4></a></li>
    </ul>
    <nav>
        <a href="#">Encomiendas</a>
        <a href="#">Pasajes</a>
        <a href="#">Administracion</a>
        <a href="#">Acciones</a>
    </nav>
</div>
    </br>
<div align="center">
    Versión del sistema:{v_sis_version} - Fecha de la ultima modificación:{v_fecha_actualizacion_sistema}                   
</div>
		<script src="js/menu/jquery.min.js"></script>
		<script src="js/menu/jquery.catslider.js"></script>
		<script>
			$(function() {
			$( '#mi-slider' ).catslider();
			});
		</script>
                
</body>

</html>

