<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Pasajes por adelantados</title>        
            
        <link type='text/css' href='css/demo.css'    rel='stylesheet' media='screen'/>
        
        <link type="text/css" href="css/estilos.css" rel="stylesheet" /> <!-- Estilos de la tabla -->
        <!--  sergio quitado 
            <link href="css/datepicker.css" type=text/css rel=stylesheet> 
            <script type="text/javascript"  src="./js/datepicker.js"></script>        
        -->
        <!-- OSX Style CSS files -->
        <link type='text/css' href='css/osx.css' rel='stylesheet' media='screen' >       
       <link rel="stylesheet" type="text/css" href="./js/sweetalert-master/lib/sweet-alert.css">
       
           <!--  calkendario sandra -->
        <link rel="stylesheet" href="css/calendario.css"></link>           
    </head>   
<!-- Page styles -->
<script type="text/javascript" src="./js/jquery-1.3.2.js"></script>

<script src="./js/jquery.js"></script>
<script src="./js/jquery-ui-1.11.2/jquery-ui.js"></script>




<script type="text/javascript" src="./js/propias.js"></script>

<script src="./js/sweetalert-master/lib/sweet-alert.min.js"></script> 

<!-- Scrip para las pantallas desplegables -->       
<script type='text/javascript' src='./js/jquery.simplemodal.js'></script>
<script type='text/javascript' src='./js/osx.js'></script>   

<script type="text/javascript">

        var carg_cliente = true; // true = remitente; false = destinatario        
        $(document).ready(function(){                             
            
                asociar_rango_calendario("#e_fecha_desde","#e_fecha_hasta"); 

               // var asientos = new array();
                //$("#i_escribir_siguiente_pasaje" ).click( function() {cargar_datos_base_a_otro_pasaje();});//guarda en la bd
                $("#i_vaciar_pasaje" ).click( function() {vaciar_pasaje();});
                $("#e_tipo_pasaje").change( function() {seleccionar_tipo_pasaje();});
               // $("#e_tipo_pasaje").change( function() {seleccionar_tipo_pasaje();});
                
                $('#e_coseguro_pasaje > option[value="N"]').attr('selected', 'selected');
                $("#e_coseguro_pasaje").change(function(){cambiar_estado_cooseguro();});       
                
                //--------------------------------------------------------------------------------------------------
                // eventos de la busqueda de clientes
                //--------------------------------------------------------------------------------------------------
                //$("#e_buscar_remitente").     mouseover( function(){carg_cliente = 0;}); // busqueda de remitente
                $("#e_buscar_destinatario").  mouseover( function(){             
                    carg_cliente = 1;
                    //$('#e_buscar').focus();
                }); // busqueda de destinatario
                
                $("#e_buscar_cliente_ctacte").mouseover( function(){
                    carg_cliente = 2;
                    //$('#e_buscar').focus();
                }); // busqueda de cliente de cta. cte.
                
                $("#b_aceptar_clientes"    ).click(function(){seleccionar_cliente_buscado(carg_cliente); });
                $("#b_buscar"              ).click(function(){buscar_clientes();                    });
                $("#e_buscar"              ).keypress(function(e) { 
                        if(e.which == 13) {
                            buscar_clientes(); 
                        }                        
                });

//------------------------------------------------------------------------------
// Obtenemos el precio del pasaje y depositamos en el edit de precio
//------------------------------------------------------------------------------
        function seleccionar_tipo_pasaje(){
                 $("#e_importe_pasaje").attr("disabled",true);
                 //$("#h_operacion_tipo_pasaje").val();
                 var cad = $("#e_tipo_pasaje option:selected").html();
                 var subcad = cad.substring(cad.indexOf(' - $')+5, cad.length);

                 var cad2 = $("#e_tipo_pasaje option:selected").attr('value');
                 var subcad2 = cad2.substring(cad2.indexOf('#')+1, cad2.length);
                 
                 var aux = parseFloat(subcad);
                 $("#e_importe_pasaje").val(aux.toFixed(2));                 
                 
                 $("#h_operacion_selec_tipo_pasaje").val(subcad2[1]); // indica si es una impresion doble o no
                 
                 var aux3 = 0;
                 // si esta tildada la opcion de coseguro hacer calculo de coseguro
                 if($("#e_coseguro_pasaje").val()=='S'){
                    var aux2 = calculo_coseguro();
                    aux3 = aux + aux2;
                }else{
                    aux3 = aux;
                }
                
                $("#e_importe_pago").val( aux3.toFixed(2) ); // se agrega en la sexion de carga de importe de pagos.                                  
                $("#h_importe_deuda_pasaje").val($("#e_importe_pago").val());
        }
            
        //-----------------------------------------------------------------------------------------    
    // realizamos la sumatoria de factores que hacen al calculo de un precio de pasaje a pagar.
    //-----------------------------------------------------------------------------------------
        function calculo_precio(){
            var i_c = 0.00; // importe del coseguro
            var i_p = 0.00; // importe del pasaje
            var i_pg = 0.00; // importe del pago acumulado.
            var res = 0.00; // valor del importe del pasaje + importe del coseguro  - pagos realizados
            
            i_c = parseFloat($("#e_importe_coseguro_pasaje").val()).toFixed(2);
            i_p = parseFloat($("#e_importe_pasaje").val()).toFixed(2);
            i_pg = parseFloat($("#h_total_pago").val()).toFixed(2);
            
            res = i_p + i_c - i_pg;
            
            $("#e_importe_pago").val(res);
        }
        

                //--------------------------------------------------------------------------------------------------
                //----------------  eventos de la Alta de clientes -------------------------------------------------
                //--------------------------------------------------------------------------------------------------
                $("#i_alta_destinatario"   ).click(function(){abrir_ventana('Alta de clientes','./abm/abm_clientes.php',400,600); });
                
                
                
                //---------------------------------------------------------------------------------------------------
                //----------------  botones en forma des pagos  -----------------------------------------------------
                //---------------------------------------------------------------------------------------------------
                $("#carga_datos_pagos").css('background-color',"#F5ECCE");
                $("#e_forma_de_pago_contado" ).change( function() { seleccionar_forma_de_pagos(); });
                $("#e_forma_de_pago_ctacte"  ).change( function() { seleccionar_forma_de_pagos(); });
                //$("#e_forma_de_pago_cheque"  ).change( function() { seleccionar_forma_de_pagos(); });
                //$("#e_forma_de_pago_destino" ).change( function() { seleccionar_forma_de_pagos(); });

                $("#b_agregar_pago"  ).click(function(){agregar_pago_al_listado_de_pago();      });
                $("#b_vaciar_la_tabla_pago"     ).click(function(){vaciar_tabla_pago();         });
                $("#b_eliminar_pago" ).click(function(){eliminar_pago_al_listado_pago();        });

                $("#e_buscar_cliente_ctacte").mouseover( function(){carg_cliente = 2;}); // busqueda de cliente de cta. cte.
                $("#e_alta_cliente_ctacte" ).click(function(){abrir_ventana('Alta de clientes','./abm/abm_clientes.php',400,600); });
                $("#e_alta_banco_ctacte"   ).click(function(){abrir_ventana('Alta de bancos'  ,'./abm/abm_bancos.php',  400,600); });
                
                //----------------------------------------------------------------------------------------------------
                //                                   botonera de mando final.
                //----------------------------------------------------------------------------------------------------
                $("#i_aceptar").click(function() {escribir_pasajes_adelantados();   });
                $("#i_cancelar").click(function(){cerrar_ventana();      });    
                
                 //----------------------------------------------------------------------------------------------------
             //                                   botonera de mando final.
             //----------------------------------------------------------------------------------------------------
             
             $("#e_tipo_pasaje" ).change(function(){ realizar_calculo_de_precio(); });
             $("#e_cantidad"    ).change(function(){ realizar_calculo_de_precio(); });
             $("#e_importe_pago").change(function(){ realizar_calculo_de_precio(); });
             
        });
        //----------------------------------------------------------------------
        // Escribe la tabla de pasajes adelantados
        //----------------------------------------------------------------------
        function escribir_pasajes_adelantados(){
            if(validar_carga_pasaje()){
              // if (confirm("Desea crear los pasajes?")){
                swal({   title: "Desea crear los pasajes?",  
                      
                    type: "warning",  
                    showCancelButton: true,   
                    confirmButtonColor: "#DD6B55",   
                    confirmButtonText: "Crear pasajes!",
                    closeOnConfirm: false }, 
                function(){ 
                 
                    var parametros = {
                           f_d    : $("#e_fecha_desde").val(),
                           f_h    : $("#e_fecha_hasta").val(),                           
                           id_cli : $("#h_id_cliente").val(),
                           observ : $("#e_observaciones").val(),
                           cant   : $("#e_cantidad").val(),
                           total  : $("#e_mostrar_pago").val()
                                     };                                                   
                    $.ajax({
                           data: parametros,
                           url : 'ajax_crear_pasajes_adelantados.php',
                           type: 'post',
                           
                           beforeSend: function () {
                               //$("#t_buscar").html("Procesando, espere por favor...");
                                                   },
                                                  
                           error: function (resultado){
                               alert(resultado);
                              // alert('Error en el procesamiento de la rutina ajax_crear_pasajes_adelantados');
                                                      },                                                                           
                                                       
                           success: function (resultado){
                               swal("Se creo con éxito!");
                          //window.close();  no se va la ventana!!
                                                        }
                                                          
                        
                    });                              
                    }); 
                   
                }
            //}
           
       }
        //----------------------------------------------------------------------
        // obtenemos el precio del tipo de pasaje seleccionado y lo multiplicamos 
        // por la cantidad de pasaje a comprar por adelantado
        //----------------------------------------------------------------------
        function realizar_calculo_de_precio(){     
            // si no se seleccione el tipo de pasaje
            if($("#e_tipo_pasaje option:selected").val()!=0){
             var cad2 = $("#e_tipo_pasaje option:selected").html();
             var subcad2 = cad2.substring(cad2.indexOf(':')+1, cad2.length);             
             var aux = parseFloat(subcad2);             
             var precio_unit = aux.toFixed(2);
             var cant = 0;
             cant =  parseInt($("#e_cantidad").val());             
             var pt = parseFloat(cant * precio_unit).toFixed(2);
             
             $("#e_importe_pasaje" ).val(pt);
             $("#h_total_acumlado" ).val(pt);
             $("#e_importe_pago"    ).val(pt);
           }else{
             $("#e_importe_pasaje" ).val(0);
             $("#e_importe_pago"    ).val(0);               
           }
        };
        
        
                
        
           
        
        
        //----------------------------------------------------------------------
        // Cierra la ventana eliminarrr
        //----------------------------------------------------------------------
        function cerrar_ventana(){
          /*  if (confirm('Desea cancelar la carga de pasajes adelantados?'))
                window.close();*/
       abrir_ventana('Alta de bancos'  ,'pagar_pasaje.php?llamado_por=1',  400,600); 
      //
        }
        //----------------------------------------------------------------------
        // Escribimos los pasajes que se requieren por adelantado
        //----------------------------------------------------------------------
        function crear_pasajes_adelantados(){
            
        }
           //------------------------------------------------------------------------------------------
            // realizamos las validaciones correspondientes para guardar los pasajes en la base de datos
            //------------------------------------------------------------------------------------------
            function validar_carga_pasaje(){                 
                 var mensaje = '';
               /*var fech1 = document.getElementById(e_fecha_desde).value;
                var fech2 = document.getElementById(e_fecha_hasta).value;*/
                if($("#e_nombre_pasaje").val()=='')
                    {
                        swal("Debe Seleccionar o Agregar un pasajero!");
                        mensaje = "Debe ingresar el apellido y el nombre completo del pasajero...";
                    $("#e_nombre_pasaje").focus();
                    $("#e_nombre_pasaje").css({ 'background': 'red' });
                }else{
                    $("#e_nombre_pasaje").css({ 'background': '#ffffff' });                    
                }
                
                
                
                if(Number($("#e_importe_pasaje").val())<=0){
                    swal("Debe seleccionar el tipo de pasajes!");
                    mensaje = "Debe seleccionar el tipo de pasajes..."; 
                    $("#e_tipo_pasaje").focus();
                    $("#e_tipo_pasaje").css({ 'background': 'red' });
                }else{
                    $("#e_tipo_pasaje").css({ 'background': '#ffffff' });                    
                }
                
                  if(($("#e_fecha_desde").val())>($("#e_fecha_hasta").val())){
                    swal("Ingrese una Fecha Posterior a la ingresada en Fecha Desde!");
                    mensaje = "Debe seleccionar una fecha posterior..."; 
                    $("#e_fecha_hasta").focus();
                    $("#e_fecha_hasta").css({ 'background': 'red' });
                }else{
                    $("#e_fecha_hasta").css({ 'background': '#ffffff' });                    
                }
  
                
                if (mensaje==''){
                    return true;
                }else{
                   // alert(mensaje);
                    return false;                    
                }                        
             }
        //----------------------------------------------------------------------
        // devuelve lo encontrado al precionar el boton aceptar del buscador de 
        // clientes
        //----------------------------------------------------------------------
        function seleccionar_cliente_buscado(carg_cliente){             
                var res = $('#h_seleccion').val(); // obtenemos (nro, dni, nombre, direccion, id_loc, localidad, id_prov, provincia, tel )               
                var res1 = res.split("|"); 
                if (carg_cliente==0){                   
                    // completamos lo de remitente    
                    $("#e_dni_remitente" ).val( res1[2] );
                    $("#e_remitente"     ).val( res1[3] );
                    $("#e_dir_remitente" ).val( res1[4] );
                    
                    $("#e_loc_remitente" ).attr('value', res1[5] );
                    $("#e_loc_remitente" ).val(res1[6]);
                    
                    $("#e_prov_remitente").attr('value', res1[7] ); //-> 
                    $("#e_prov_remitente").val(res1[8]);
                    
                    $("#e_tel_remitente" ).val( res1[7] );  //-> 9   
                    
                    // Autocompleta los datos del destinatario buscando datos en 
                    // la tabla DESTINOS_COMUNES_CLIENTES
                 }else{
                    if (carg_cliente==1){                
                        // completamos lo de destinatario        
                        $("#h_id_cliente" ).             val(res1[1]);
                        
                       // $("#e_dni_pasaje").              val(res1[2]);
                        $("#e_nombre_pasaje").           val(res1[8]);
                     //   $("#e_direccion_origen_pasaje"). val(res1[4]);
                      //  $("#e_direccion_destino_pasaje").val(res1[6]);
                       // $("#e_telefono_origen_pasaje").val(res1[7]); //-> 9
                        
                       // if (confirm("ࠁutocompletar los datos de destino?")){
                        //    buscar_destinos_comunes_de_clientes(res1[1]);
                       // }
                    }else{

                        // completamos lo de forma de pago
                        $("#e_cliente_ctacte" ).val( res1[3] );
                        $("#h_id_cliente_ctacte"     ).val( res1[0] );
                 }
                }
        }
        //----------------------------------------------------------------------------
        //----------------------------------------------------------------------------
        //----------------------------------------------------------------------------
        //----------------------------------------------------------------------------
        // habilitacion de loas formas de pago posible
        //----------------------------------------------------------------------------
        //----------------------------------------------------------------------------
        //----------------------------------------------------------------------------
        function seleccionar_forma_de_pagos(){          
                $("#e_importe_pago").        attr('disabled',true);
                $("#e_cliente_ctacte").      attr('disabled',true);
                $("e_buscar_cliente_ctacte").attr('disabled',true);
                $("e_buscar_cliente_ctacte").attr('disabled',true);
                $("#e_cheque_fecha_emision").attr('disabled',true);
                $("#e_cheque_fecha_cobro").  attr('disabled',true);
                $("#e_cheque_nro_cheque").   attr('disabled',true);
                $("#e_cheque_banco").        attr('disabled',true);
                $("#e_cheque_operacion").    attr('disabled',true);
                $("#e_cheque_a_nombre_de").  attr('disabled',true);
                $("#e_recibido_de").         attr('disabled',true);

                $("#div_ctacte").            attr('style',"display: none");
                $("#div_cheque").            attr('style',"display: none");

                $("#div_titulo_ctacte").     attr('style',"display: none");
                $("#div_titulo_cheque").     attr('style',"display: none");
                $("#div_titulo_contado").    attr('style',"display: none");
                $("#div_pago_destino").      attr('style',"display: none");

                $("#e_importe_pago").val(  parseFloat($("#h_total_acumulado").val()).toFixed(2) - parseFloat($("#e_mostrar_pago").html()).toFixed(2));

                // si es de contado
                if ($("#e_forma_de_pago_contado").is(":checked")) {
                    $("#e_importe_pago").attr('disabled',false);
                    
                    $("#e_importe_pago").focus();                   
                    $("#carga_datos_pagos").css('background-color',"#F5ECCE" );
                }else{ // si es un cheque
                    if ($("#e_forma_de_pago_cheque").is(":checked")) {

                        $("#div_cheque").  attr('style',"display: block");

                        $("#e_importe_pago").attr('disabled',        false);
                        $("#e_cheque_fecha_emision").attr('disabled',false);
                        $("#e_cheque_fecha_cobro").attr('disabled',  false);
                        $("#e_cheque_nro_cheque").attr('disabled',   false);
                        $("#e_cheque_banco").attr('disabled',        false);
                        $("#e_cheque_operacion").attr('disabled',    false);
                        $("#e_cheque_a_nombre_de").attr('disabled',  false);
                        $("#e_recibido_de").  attr('disabled',false);
                        $("#e_cheque_propio1").attr('disabled',  false);
                        $("#e_cheque_propio2").attr('disabled',  false);
                    
                        $("#e_cheque_fecha_emision").focus();
                        $("#carga_datos_pagos").css('background-color',"#A9D0F5" );
                    
                    }else{  // si es una cta. cte.
                            if ($("#e_forma_de_pago_ctacte").is(":checked")){   
                                $("#div_ctacte").  attr('style',"display: block");
                                $("e_buscar_cliente_ctacte").attr('disabled',false);
                                $("e_alta_cliente_ctacte").  attr('disabled',false);
                                $("#e_importe_pago").val(  parseFloat($("#h_total_acumulado").val()  ) - parseFloat( $("#e_mostrar_pago").html()  ) );
                                $("#e_cliente_ctacte").focus();
                                $("#carga_datos_pagos").css('background-color',"#F8E0E6" );
                            }else{
                                $("#div_pago_destino").   attr('style',"display: block");  
                                $("#e_nombre_pago_destino").val($("#e_destinatario").val());
                                $("#e_nombre_pago_destino").focus();                                  
                                $("#carga_datos_pagos").css('background-color',"#E3D3FA" );
                            }
                   }
                }       
        }

//---------------------------------------------------------------------------------
// Verificamos que se cargen correctamente los cheques 
//----------------------------------------------------------------------------------
            function validar_carga_de_cheque(){
                     var aux = false;
                     if ( $("#e_cheque_banco").attr('id')==0){                        
                         alert('Debe completar a que Banco pertenece el cheque.');
                         $("#e_cheque_banco").focus();
                     }else{
                        
                        if ( $("#e_cheque_nro_cheque").attr('id')==0){                        
                            alert('Debe completar el nro de cheque.');
                            $("#e_cheque_nro_cheque").focus();
                        }else{
                             aux =  true;
                        }    
                     
                     }    
                     return aux;
            }
//---------------------------------------------------------------------------------
// Verificamos que se cargen correctamente los cheques 
//----------------------------------------------------------------------------------
            function validar_carga_de_ctacte(){
                     var aux = false;                     
                     if ($("#e_cliente_ctacte").val()==''){                        
                         alert('Debe completar al cliente que contiene la cta. cte.');
                         $("#e_cliente_ctacte").focus();
                     }else{
                         aux = true;
                     }
                     return aux;
            }
//---------------------------------------------------------------------------------
// Verificamos que se cargen correctamente los datos de cobro en destino 
//----------------------------------------------------------------------------------
            function validar_pago_destino  (){
                     var aux = false;                                          
                     if ($("#e_nombre_pago_destino").val()==''){                        
                         alert('Debe completar el destinatario para determinar donde y a quien cobrar.');
                         $("#e_destinatario").focus();
                     }else{
                         aux = true;
                     }
                     return aux;
            }
        
 //-----------------------------------------------------------------------------------
// Completa el listado de pagos asociadas a la guia de encomienda.
// accion: registra el pago, contado, o cta. cte., o cheques. Incrementando el 
//          total de pagos.
//-----------------------------------------------------------------------------------
            function agregar_pago_al_listado_de_pago(){
                // verificamos que se halla seleccionado el tipo de pasaje y su 
                // importe correspondiente.
                if ($("#e_importe_pasaje").val()>0){
                
                    // Si el importe a agregar es mayor que cero
                    var importe = parseFloat($("#e_importe_pago").val()).toFixed(2);
            
                    if (importe>0) {                    
                        var dato_pago = '';
                        var a0 = parseInt( $("#h_cantidad_pago").val() ) + 1;
                        var a1 = 0.00;
                        var a2 = 0.00;
                        var a3 = 0.00;
                        var detalle_pago = '';
                    
                        var carga_correcta_cheque = 'S'; // bandera, indica si se cargo todos los datos de cheques
                        var carga_correcta_ctacte = 'S'; // bandera, indica si se cargo todos los datos de la ctacte
                    
                        //---------------------------------------------------------------------------------------------------------------------
                        // juntamos los datos para guardarlo en el objeto h_detalle_pago
                        // si es de contado y ctacte se completaran los espacios con ' '.                    
                        //---------------------------------------------------------------------------------------------------------------------
                        if ($("#e_forma_de_pago_contado").is(":checked")) {
                            detalle_pago = 'Efectivo';
                            dato_pago = '1#'+importe+'# # # # # # # # '; // completamos los espacios
                        }else{
                            if ($("#e_forma_de_pago_cheque").is(":checked")) {                             
                                //-----------------------------------------------------
                                // validamos los datos correctos para la carga de cheques
                                if (validar_carga_de_cheque()){
                               
                                    detalle_pago = 'Cheque Nro: '+$("#e_cheque_nro_cheque").val();    
                                    dato_pago = '2#'+importe+'#'+$("#e_cheque_fecha_emision").val()+'#'+$("#e_cheque_fecha_cobro").val()+'#'+
                                        $("#e_cheque_nro_cheque").val()+'#'+$("#e_cheque_operacion").val()+'#'+
                                        $("#e_cheque_a_nombre_de").val()+'#'+$("#e_recibido_de").val()+'#'+$("#e_cheque_banco").val()+'#'+$("input:radio[name=e_cheque_propio]:checked").val();
                            
                                    carga_correcta_cheque = 'S';
                                }else{
                                    carga_correcta_cheque = 'N';
                                }
                            
                            
                            }else{
                                if ($("#e_forma_de_pago_ctacte").is(":checked")) {
                                    if (validar_carga_de_ctacte()){
                                        detalle_pago = 'Cta. Cte.: '+$("#e_cliente_ctacte").val().toFixed(2);
                                        dato_pago = '3#'+importe+'#'+$("#h_id_cliente_ctacte").val().toFixed(2)+'# # # # # # # '; // completamos los espacios
                                        carga_correcta_ctacte = 'S';
                                    }else{    
                                        carga_correcta_ctacte = 'N'; 
                                    }
                                }else{
                                    if (validar_pago_destino()){                            
                                        detalle_pago = 'Pago Dest.';
                                        dato_pago = '4#'+importe+'# # # # # # # # '; // completamos los espacios
                                        carga_correcta_pago_destino = 'S';
                                    }else{
                                        carga_correcta_pago_destino = 'N';
                                    }
                                
                                }
                            }
                        }
                    
                    
                        //------------------------------------------------------------------------------------------------------
                        // verificamos que las variables de control de ingreso de dato para el pago correspondiente esten en 'S'
                        //------------------------------------------------------------------------------------------------------
                        if ((carga_correcta_ctacte=='S')&&(carga_correcta_cheque=='S')){
                       
                            //---------------------------------------------------------------------------------------------------------------------                   
                            var strNueva_Fila='<tr bgcolor="aaeeff">'+
                                '   <td align="left"><INPUT type="checkbox" NAME="chk2"></input></td>'+                                                
                                '   <td align="center">'+detalle_pago+'</td>'+
                                     '   <td align="center">$ '+importe+'</td>'+
                                     '   <td style="display:none" id="id0">'+dato_pago+'</td></tr>';                        
                             
                            var objTabla=$('#t_detalle_pagos').parents().get(2);
                   
                            a1 = parseFloat($("#e_importe_pago").val()).toFixed(2);   
                            a2 = parseFloat($("#h_total_pago").val()).toFixed(2);
                            a3 = parseFloat(a1) + parseFloat(a2);
                    
                            //agregamos la nueva fila a la tabla
                            $(objTabla).find('tbody').append(strNueva_Fila);
                            $("#h_cantidad_pago").val(a0);                  
                            $("#h_detalle_pago").val();                  
                            
                            $("#e_importe_pago").val( parseFloat(
                                    parseFloat($("#h_importe_deuda_pasaje").val()) 
                                     - (                                        
                                         parseFloat($("#e_importe_pago").val()) + parseFloat($("#e_mostrar_pago").html()) 
                                        )
                            ).toFixed(2));                            

                            
                            $("#h_total_pago"  ).val(a3.toFixed(2));
                            $("#e_mostrar_pago").html(a3.toFixed(2));   
                            $("#h_detalle_pago_venta").val();
                   
                            //si el cuerpo la tabla esta oculto (al agregar una nueva fila) lo mostramos
                            if (!$(objTabla).find('tbody').is(':visible')){
                                 //le hacemos clic al titulo de la tabla, para mostrar el contenido
                                $(objTabla).find('caption').click();
                            } 
                           // $("#h_importe_deuda_pasaje").val($("#e_importe_pago").val().toFixed(2));                                              
                                               
                        }// Finalizando la verificacion de ingreso de datos
                    
                    }else{
                        alert("El importe del pago debe ser superior a 0.00...");
                    }                 
                }else{
                    alert("No se puede registrar pago si no existe deuda...");
                }                
            }   
            
            //------------------------------------------------------------------
            //
            //------------------------------------------------------------------
            function vaciar_tabla_pago(){
                //evento que se produce al hacer clic en el boton que elimina una tabla completamente
                //$(document).on('click','.clsEliminarTabla',function(){
                $("#t_detalle_pagos > tbody").empty();
                $("#h_cantidad_pago").val(0);
                $("#h_total_pago").val(0.00);                
                $("#e_mostrar_pago").html("0.00");
            }
            //------------------------------------------------------------------
            //------------------------------------------------------------------
        
            //------------------------------------------------------------------
            //------------------------------------------------------------------
            function eliminar_pago_al_listado_pago(){
               try {
                    var mensaje = "Debe seleccionar un pago para eliminarlo...";
                    var table = document.getElementById("cuerpo_detalle_pagos");
                    var borrado = false; // determina si se realizo el borrado
                    var rowCount = table.rows.length; // determina la cantidad de filas
                    if (rowCount>1){
                        for(var i=0; i<rowCount; i++) {
                            
                            var row = table.rows[i];
                            var chkbox  = row.cells[0].childNodes[0];
                            var importe = row.cells[2].childNodes[0].nodeValue;
                            importe = importe.substring(1);

                            if((null != chkbox) && (true == chkbox.checked)) {
                                table.deleteRow(i);
                                rowCount--;
                                i--;
                                borrado = true;
                                // restamos de los totales
                                $("#h_cantidad_pago").val(   parseInt($("#h_cantidad_pago").val()) - 1);
                               
                                $("#h_total_pago").val( parseFloat( parseFloat($("#h_total_pago").val()) - importe));
                                
                                $("#e_mostrar_pago").html( parseFloat($("#h_total_pago").val()) );   
                               
                            }                            
                        }
                        if(!borrado)
                            alert(mensaje);
                    }else{
                        var row = table.rows[0];
                        var chkbox = row.cells[0].childNodes[0];
                        if((null != chkbox) && (true == chkbox.checked)) {
                            vaciar_tabla_pago();
                        }else{
                            alert(mensaje);
                        }
                    }
               }catch(e) {
                    alert(e);
               }                
            }
        
        
      
        //------------------------------------------------------------------------------
        // Realiza la busqueda de clientes de lo escrito en el edit de busqueda por sql
	function buscar_clientes() {                       
                var parametros = {code : $("#e_buscar").val()};
                var tbuscliente = '';
                
                $.ajax({
                           data: parametros,
                           url : 'ajax_buscar_clientes.php',
                           type: 'post',
                           beforeSend: function () {
                               $("#t_buscar").html("Procesando, espere por favor...");
                                                   },
                           success:  function (resultado) {
                                    tbuscliente = resultado.split('@|@')
                                    $("#t_buscar").html(tbuscliente[0]);
                                                          }
                            });                   
        };


            
    </script>
    
    <body>
        
        <input type="hidden" id="h_detalle_pago_venta" value=''/>               <!--  usado para acumular el detalle de los pagos a pasar para la escritura de las tabla  -->
        <input type="hidden" id="h_total_acumulado" value="0"/>                 <!--  almacena el total de la venta de todos los pasaje seleccionado -->    
        <input type="hidden" id="h_id_cliente" value="0"/>                      <!--  Guarda el id del cliente seleccionado para generarles los pasajes adelantados. -->
        <input type="hidden" id="h_seleccion" value="0"/>                       <!-- Guarda la informacion del cliente buscado con el div de busqueda -->    
        
        
        
    <div align="center">
        <table border="1"  align="center" cellspacing="0" bordercolor="#DCDCDC" style="width:500">
        
             <thead>
                <tr>
                    <td align="center"  style="background:{v_color_cabezera_tabla};  font:Arial; size:5;"  colspan="2">               
                        Pasajes por Adelantados
                    </td>                
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Razón Social:</td><td>
                        <input id="e_nombre_pasaje" disabled=false value="{v_nombre}"/>
                            <input type="image" src="./imagenes/busqueda.png" border="0" name="i_buscar_destinatario" id="i_buscar_destinatario"  class='osx demo'/>
                            <input type="image" src="./imagenes/agregar.png"  border="0" name="i_alta_destinatario" id="i_alta_destinatario" />
                            
                          
                            
                    </td>
                </tr>
                
                
                
                
               <tr>
                    <td>Fecha desde:</td><td>
                    <input type="text" size="10" name='e_fecha_desde' id="e_fecha_desde" value="{v_fecha_desde}"/> 
                    <input type="image" name='i_fecha_desde' id="i_fecha_desde" src="imagenes/calendario.png" onclick="displayDatePicker('e_fecha_desde', false, 'dmY', '/'); return false"/>
                    </td>
                </tr>
                <tr>
                    <td>Fecha hasta:</td><td>
                    <input type="text" size="10" name='e_fecha_hasta' id="e_fecha_hasta" value="{v_fecha_hasta}"/> 
                    <input type="image" name='i_fecha_hasta' id="i_fecha_hasta" src="imagenes/calendario.png" onclick="displayDatePicker('e_fecha_hasta', false, 'dmY', '/'); return false"/>
                    </td>
                </tr>

                
                
                <tr><td>Tipo Pasaje:        </td><td><b> <select id="e_tipo_pasaje">{v_listado_tipo_pasaje}> </select> </b></td></tr>

                <tr><td>Cantidad:</td><td><input id="e_cantidad" type="number" value="{v_cantidad}"/> </td></tr>
                <tr><td>Total:</td><td><input    id="e_importe_pasaje"    value="{v_total}"   /> </td></tr>
                <tr><td>Observaciones:</td><td><textarea id="e_observaciones"  type="text"  value="{v_observaciones}" > </textarea> </td></tr>
                
            </tbody>
            <tfoot align="center">
                <tr>
                    <td colspan="2">
                        
                     <!-- ------------------------------------------------------------------------------------------------------------------- -->
                     <!-- ******************************************************************************************************************* -->
                     <!-- ------------------------------------------------------------------------------------------------------------------- -->
                <div id="pagos">
                    <table id="t_form_pago"  width="100%" cellspacing="0" border="1" >
                    <tr>
                        <td colspan="9" bgcolor="{v_color_cabezera_columna}">
                            <b>Forma de pago</b><br>

                        </td>
                    </tr>
                    <tr>                    
                        <td colspan="9" >
                            <input type="radio" id="e_forma_de_pago_contado" checked name="e_forma_de_pago" value="0">Contado
                            <input type="radio" id="e_forma_de_pago_ctacte"          name="e_forma_de_pago" value="2">Cta.Cte.                                                         
                        </td>
                    </tr>
                    <tr>
                        <!-- ------------------------------------------------------------------------------------
                            forma de pagos                      
                        -------------------------------------------------------------------------------------- -->  
                        <td height="39" colspan="5" align="right" >
                            <!-- --------- Detalle de titulos ------------------------- -->
                            <div align="left" id="carga_datos_pagos">

                                <div id="div_ctacte" style="display: none">
                                    Nombre Cta.Cte.:<input type="text" id="e_cliente_ctacte" size="30" disabled=false/>
                                    <input type="hidden" id="h_id_cliente_ctacte"/>
                                    <input  type="image" src="./imagenes/busqueda.png"  name="e_buscar_cliente_ctacte" id="e_buscar_cliente_ctacte" value="Buscar_cliente_ctacte" class='osx demo' />
                                    <input  type="image" src="./imagenes/agregar.png"  name="e_alta_cliente_ctacte" id="e_alta_cliente_ctacte"  />                          
                                </div>                                                                        

                                <br>              
                            
                                <div id="div_cheque" style="display: none">              
                                    Fecha Emision:<input type="date" id="e_cheque_fecha_emision" disabled/>
                                    Fecha Cobro:  <input type="date" id="e_cheque_fecha_cobro" disabled /><br>
                                    Nro. Cheque:  <input type="text" id="e_cheque_nro_cheque" size="10" disabled/>
                                    <input type="hidden" id="h_id_banco"/>
                                    Banco:<select name="e_cheque_banco" size="1" id="e_cheque_banco" disabled>
                                     {v_comboBox_banco}
                                    </select>
                                        <input type="image" src="./imagenes/agregar.png" name="e_alta_banco_ctacte" id="e_alta_banco_ctacte" />                          
                                        <br>
                                        Operaci󮺼input type="text" id="e_cheque_operacion" size="50" disabled/><br>
                                        A nombre de:<input type="text" id="e_cheque_a_nombre_de" size="50" disabled/><br>
                                        Recibido de:<input type="text" id="e_recibido_de" size="50" disabled/><br>
                                        Cheque propio:    Si:<input type="radio" name="e_cheque_propio" id="e_cheque_propio1" value="S" checked disabled/>
                                                          No:<input type="radio" name="e_cheque_propio" id="e_cheque_propio2" value="N" disabled/>
                                </div>                                    
                                
                                <div id="div_pago_destino" style="display: none">              
                                    Paga en destino:<input type="text" id="e_nombre_pago_destino" size="50" disabled/>
                                </div>                                    
                                    
                                    Importe:<input type="text" id="e_importe_pago" type="number" size="10" value="0.00" /><br>                            
                                <br>                                
                                </div>
                        </td>
                        <td align="centar">
                            <input type="image" src="./imagenes/seleccion_izq.jpg"  name="b_agregar_pago" id="b_agregar_pago" value="Agregar" />                                                                                    
                            <br>
                            <input type="image" src="./imagenes/seleccion_der.jpg"  name="b_eliminar_pago" id="b_eliminar_pago" value="-" />
                        </td>
                        <td height="39" colspan="3">
                             
                            <div id="divContenedorTabla_pagos" align="center">                               
                            <input type="image" src="./imagenes/vaciar_tabla.png" value="Vaciar la tabla" id="b_vaciar_la_tabla_pago">                                                                                
                            <table id="t_detalle_pagos" border="1" align="center" cellspacing="0">
                
                                <thead>
                                    <tr> 
                                        <th>                                            
                                        </th>
                                        <th>                                                       
                                            Tipo de pago:
                                        </th>                                            
                                        <th>
                                            Importe
                                            <input type="hidden" id="h_cantidad_pago"value="{v_cantidad_pago}"/>                                            
                                            <input type="hidden" id="h_detalle_pago" value="{v_detalle_pago}"/>
                                            <input type="hidden" id="h_total_pago" value="{v_total_pago}"/>                                            
                                        </th>
                                    </tr>                                                                      
                                </thead>
                                
                                <tbody id="cuerpo_detalle_pagos">
                                </tbody>
                                
                                <tfoot>
                                    <tr>
                                        <td colspan="2">Total pagado:</td>
                                        <td><span id="e_mostrar_pago">{v_total_pago}</span></td>
                                    </tr>
                                </tfoot>
                            </table>
                            </div>                            
                            
                        </td>                     
                    <!-- ------------------------------------------------------------------------------------
                        fin forma de pagos                      
                    ---------------------------------------------------------------------------------------->                           
                    </tr>
                   
               </table>
               
           </div>                           
                        
                        
                        
                        
                        
                    </td>
                </tr>
                
                
                <tr aling="center">
                    <td colspan="2" align="center">
                        <div style="alignment-adjust: central; width: 150px">
                            <div style="float: left; width:50; height: 35;  font-size: 11;margin: 2;border: 1px solid #cccccc;background-color: #ffffff;">
                                <input type="image" src="./imagenes/ok.png" value="imprimir" id="i_aceptar">
                                <br>Aceptar
                            </div>

                            <div style="float: left; width:50; height: 35; font-size: 11;margin: 2;border: 1px solid #cccccc;background-color: #ffffff;">               
                                <input type="image" align='center' src="./imagenes/cancelar.gif" value="a1" id="i_cancelar">
                                <br>Cancelar
                            </div>
                       </div>
                    </td>                
                </tr>
            </tfoot>                
            
        </table>
        </div>
            
<!-- ---------------------------------------------------------------------------
--------------------------------------------------------------------------------
Sextor de POPUP de busqueda de clientes
--------------------------------------------------------------------------------
---------------------------------------------------------------------------- -->
<div id="osx-modal-content" style="alignment-adjust: central">
    <div id="osx-modal-title">Buscandor de Clientes...</div>
    <div class="close"><a href="#" class="simplemodal-close">x</a></div>
    <div id="osx-modal-data">
	<h2>Buscar</h2>
        <input name="e_buscar" type="text"  id="e_buscar" size="35" />
        <input name="b_buscar" type="image" src="./imagenes/busqueda.png" id="b_buscar" />
        
        <!-- Sector de grilla -->
        <span id="t_buscar"> </span>

            <div style="alignment-adjust: central; width: 150px">
                <div style="float: left;font-size: 11;margin: 2;border: 1px solid #cccccc;background-color: #ffffff;">                           
                    <input type="image" class="simplemodal-close" src="./imagenes/ok.png"       id="b_aceptar_clientes"  size="15" />
                    <br>Aceptar
                </div>
            
                <div style="float: left;font-size: 11;margin: 2;border: 1px solid #cccccc;background-color: #ffffff;">                           
                    <input type="image" class="simplemodal-close" src="./imagenes/cancelar.gif" id="b_cancelar_cliente" />
                    <br>Cancelar   
                </div>
            </div>
            <span>(Presione ESC para cancelar)</span>
    </div>
</div>
        
        
        
        
        
    </body>
</html>